/dist/
.project

/target/
vagrant/.vagrant/machines/default/virtualbox/action_provision
vagrant/.vagrant/machines/default/virtualbox/action_set_name
vagrant/.vagrant/machines/default/virtualbox/box_meta
vagrant/.vagrant/machines/default/virtualbox/creator_uid
vagrant/.vagrant/machines/default/virtualbox/id
vagrant/.vagrant/machines/default/virtualbox/index_uuid
vagrant/.vagrant/machines/default/virtualbox/private_key
vagrant/.vagrant/machines/default/virtualbox/synced_folders
vagrant/.vagrant/machines/default/virtualbox/vagrant_cwd
vagrant/.vagrant/rgloader/loader.rb
# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out

# Ant result file
plantuml.jar

# Maven target folder
target/

# Gradle build folders
/.gradle
build/

# Eclipse Project files
.settings/
.classpath
.project

# for jenv users
.java-version
